<ion-header>


  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title  >TapAlly</ion-title>



    <ion-buttons end class="btnInHeaderVeryLast">
      <button ion-button icon-only (click)="showSearchBar()">
        <ion-icon *ngIf="!searchActive"  name="search" class="notification"></ion-icon>
        <ion-icon *ngIf="searchActive" color="dark" name="search" class="notification"></ion-icon>
      </button>
      <button ion-button icon-only (click)="sendToBroadcastPage()">
        <ion-icon name="megaphone"   class="megaphone"></ion-icon>
      </button>
      <button ion-button icon-only (click)="sendToEarningsPage()">
        <ion-icon  name="checkmark-circle" class="notification"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content  >

 <ion-searchbar class="fadeInAnimation_Slow" tappable  [animated]="true" *ngIf="searchActive" placeholder="Search Contacts" (ionBlur)="searchuserBlur()" (ionFocus)="searchuserFocus()" (ionInput)="searchuser($event)"
          (ionCancel)="onCancelSearchbar($event)"
          ></ion-searchbar>

  <ion-refresher (ionRefresh)="refreshPage($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list  >
    <ion-card  class="maincard_bubble" text-center padding *ngIf="!virginityBroken_ChatPage && allChatListing_HTML.length <= 0">
      <ion-card-content >
        <ion-card-title>
          Let's Get Started
          </ion-card-title>
        <p>
          Invite Friends and <br>get started exchanging referrals<br>
        </p>
        <button style="margin-top:15px;" ion-button block (click)="addbuddy()"> Let's Get Started  </button>
      </ion-card-content>
   </ion-card>

    <ng-container *ngIf="allChatListing_HTML.length > 0">
      <div tappable *ngFor="let item of allChatListing_HTML" class="list  "> <!-- (press)="popoveroncontact(item,$event)"  -->
        <ng-container *ngIf="item.gpflag == 0" class="list  ">
          <ion-item  class="list-item mainitemlist rippleeffect"
            [ngClass]="{ 'select-contact': item.selection}">
            <ion-avatar tappable item-start class="avtar-class" (click)="buddychat(item,$event,item.unreadmessage)">

            <!--  <img *ngIf="item.isBlock == false" class="avtar-img-list"
                src="{{item.photoURL || getMyPhotoURL(item)}}"> -->
				
					<img-loader *ngIf="item.isBlock == false" src="{{item.photoURL || getMyPhotoURL(item)}}" class="avtar-img-list" useImg></img-loader>
				
              <img *ngIf="item.isBlock == true" class="avtar-img-list"
                src="{{'assets/imgs/user.png'}}">

              <!--
              <img *ngIf="item.isBlock == false" class="avtar-img-list" (click)="viewPofile(item.photoURL || 'assets/imgs/user.png',item.displayName )"
                src="{{item.photoURL || 'assets/imgs/user.png'}}">
              <img *ngIf="item.isBlock == true" class="avtar-img-list" (click)="viewPofile('assets/imgs/user.png',item.displayName )"
                src="{{'assets/imgs/user.png'}}">
              -->
            </ion-avatar>
            <ion-label class="list " tappable (click)="buddychat(item,$event,item.unreadmessage)"><!-- (click)="buddychat(item,$event,item.unreadmessage)" -->
              <h2 tappable>{{item.displayName}}</h2>
              <ng-container *ngIf="item.lastMessage" class="list">
                <span *ngIf="item.lastMessage.type == 'message' && !item.lastMessage.message && ( item.lastMessage.selectCatId || item.lastMessage.referral_type)" class="lastMSG">Referral Request</span>
                <span *ngIf="item.lastMessage.type == 'message' && item.lastMessage.message" class="lastMSG">{{item.lastMessage.message}}</span>
                <span *ngIf="item.lastMessage.type == 'image'" class="lastMSG">
                  <ion-icon name="camera" class="list"></ion-icon> Photo
                </span>
                <span *ngIf="item.lastMessage.type == 'contact'" class="lastMSG">
                  <ion-icon name="contact" class="list"></ion-icon> Contact
                </span>
                <span *ngIf="item.lastMessage.type == 'audio'" class="lastMSG">
                  <ion-icon name="musical-note" class="list"></ion-icon> Audio
                </span>
                <span *ngIf="item.lastMessage.type == 'document'" class="lastMSG">
                  <ion-icon name="document" class="list"></ion-icon> document
                </span>
                <span *ngIf="item.lastMessage.type == 'location'" class="lastMSG">
                  <ion-icon name="locate" class="list"></ion-icon> location
                </span>
              </ng-container>
            </ion-label>

            <div tappable class="endItem btnsonthelast " item-end outline>
                <button ion-button (click)="referralSendBackward(item)" clear item-start> <ion-icon color="dark" class="referralicon"  name="arrow-dropleft-circle"></ion-icon> </button>
                <button  ion-button (click)="referralSendForward(item)" clear  item-end><ion-icon color="dark" class="referralicon"  name="arrow-dropright-circle"></ion-icon></button>
            </div>
            <!--
            Some other options for later on
            <div class="endItem hide" item-end outline>
              <span *ngIf="item.lastMessage" class="list">
                <p *ngIf="(today |  date:'dd/MM/yyyy') != item.lastMessage.dateofmsg" class="list">
                  {{item.lastMessage.dateofmsg}}</p>
                <p *ngIf="(today |  date:'dd/MM/yyyy') == item.lastMessage.dateofmsg" class="list">
                  {{item.lastMessage.timeofmsg}}</p>
              </span>
              <button class="list">
                <ion-badge item-end *ngIf="item.unreadmessage " class="list">{{item.unreadmessage}}</ion-badge>
              </button>
            </div>
            -->
          </ion-item>
        </ng-container>

        <ion-item *ngIf="item.gpflag == 1" class="list mainitemlist" [ngClass]="{ 'select-contact': item.selection}">
          <ion-avatar tappable item-start class="avtar-class">
         <!--   <img class="list" src="{{item.groupimage || 'assets/imgs/user.png'}}"> -->
			
			<img-loader class="list" src="{{item.groupimage || 'assets/imgs/user.png'}}" useImg></img-loader>
          </ion-avatar>
          <ion-label tappable class="list" (click)="openchat(item, $event)" >
            <h2>{{item.groupName}} </h2>

            <ng-container   *ngIf="item.lastmsg" class="list">

              <span *ngIf="item.lastmsg !== 'image' && item.lastmsg !== 'contact' && item.lastmsg !== 'audio' && item.lastmsg !== 'document' && item.lastmsg !== 'location' "
                class="lastMSG">{{item.lastmsg}}</span>
              <span *ngIf="item.lastmsg == 'image'" class="lastMSG">
                <ion-icon name="camera" class="list"></ion-icon> Photo
              </span>
              <span *ngIf="item.lastmsg == 'contact'" class="lastMSG">
                <ion-icon name="contact" class="list"></ion-icon> Contact
              </span>
              <span *ngIf="item.lastmsg == 'audio'" class="lastMSG">
                <ion-icon name="musical-note" class="list"></ion-icon> Audio
              </span>
              <span *ngIf="item.lastmsg == 'document'" class="lastMSG">
                <ion-icon name="document" class="list"></ion-icon> document
              </span>
              <span *ngIf="item.lastmsg == 'location'" class="lastMSG">
                <ion-icon name="locate" class="list"></ion-icon> location
              </span>
            </ng-container>

          </ion-label>
            <!--
            <div class="endItem btnsonthelast  " item-end outline>
                <button ion-button (click)="referralSendBackward(item)" clear item-start> <ion-icon color="dark" class="referralicon"  name="arrow-dropleft-circle"></ion-icon> </button>
                <button  ion-button (click)="referralSendForward(item)" clear  item-end><ion-icon color="dark" class="referralicon"  name="arrow-dropright-circle"></ion-icon></button>
            </div>
            -->
          <div  class="endItem  " item-end outline>
            <span *ngIf="item.lastmsg" class="list">
              <p class="list" *ngIf="(today |  date:'dd/MM/yyyy') != item.dateofmsg"> {{item.dateofmsg}}</p>
              <p class="list" *ngIf="(today |  date:'dd/MM/yyyy') == item.dateofmsg"> {{item.timeofmsg}}</p>
            </span>
          </div>
        </ion-item>
      </div>
    </ng-container>
  </ion-list>




</ion-content>
<ion-footer class="myfooter" tappable  *ngIf="showfooter && whitelabelObj.buddy_uid && this.whitelabelObj.buddy_uid!='undefined' && whitelabelObj.sponseredbusines_businessName && whitelabelObj.sponseredbusines_businessName!='undefined'" >

  <ion-fab *ngIf="whitelabelObj.buddy_uid && this.whitelabelObj.buddy_uid!='undefined' && whitelabelObj.sponseredbusines_businessName && whitelabelObj.sponseredbusines_businessName!='undefined'"
  [ngClass]="showPaidSign?'liftupfab_not_paid':'liftupfab_paid'"  bottom right>
    <button ion-fab (click)="addbuddy()">
      <ion-icon ios="md-person-add" md="md-person-add"></ion-icon>
    </button>
  </ion-fab>

  <ion-list tappable class="sponseredbusines_ionlist fadeInAnimation_Slow" >
     <ion-item tappable class="list-item sponseredbusines_ionitem">
       <div tappable class="sponseredbusines_bottom">
          <div tappable *ngIf="whitelabelObj.showMyBusiness && showPaidSign" (click)="goToAInfo()" ><p >People you invite can see your ad <ion-icon   class="sponseredbusines_iconhelp" name="information-circle"></ion-icon></p></div>
          <div tappable *ngIf="whitelabelObj.showMyBusiness && !showPaidSign" (click)="goToAInfo()" ><p >This app is now co-branded as <ion-icon   class="sponseredbusines_iconhelp" name="information-circle"></ion-icon></p></div>
          <div tappable *ngIf="!whitelabelObj.showMyBusiness" (click)="checkReferralIncentive()" ><p >This app is brought to you by <ion-icon   class="sponseredbusines_iconhelp" name="information-circle"></ion-icon></p></div>

          <!-- This is test data -->
          <div *ngIf="testMode">Home4You Realtor</div>
          <div *ngIf="testMode">John Wilson 416-123-1234</div>

          <div *ngIf="!testMode"  >{{whitelabelObj.sponseredbusines_businessName}} </div>
          <div *ngIf="!testMode"  >{{whitelabelObj.displayName}} {{whitelabelObj.mobile}}</div>

          <div class=" " tappable (click)="checkReferralIncentive()"  *ngIf="whitelabelObj.business_my_referral_type_id && whitelabelObj.business_my_referral_type_id>0"> <ion-badge>Check Referral Incentive </ion-badge> </div>

       </div>
       <button   ion-button (click)="referralSendBackward_(whitelabelObj)" clear item-end> <ion-icon color="dark" class="referralicon_s"  name="arrow-dropleft-circle"></ion-icon> </button>
       <button   ion-button (click)="referralSendForward_(whitelabelObj)" clear  item-end><ion-icon color="dark" class="referralicon_s"  name="arrow-dropright-circle"></ion-icon></button>
     </ion-item>
  </ion-list>
  <div *ngIf="showPaidSign" tappable class="notpaidbar   fadeInAnimation_Slow" (click)="openLink(useremail)">In order for co-branding and other features to work, tap here to finish your business registration</div>
</ion-footer>

<ion-footer  class="myfooter_register"  *ngIf="showfooter &&  whitelabelObj_ShowNoBusiness && !(whitelabelObj.buddy_uid && this.whitelabelObj.buddy_uid!='undefined' && whitelabelObj.sponseredbusines_businessName && whitelabelObj.sponseredbusines_businessName!='undefined')" (click)="goToBInfo()" tappable  >

  <ion-fab  [ngClass]="showPaidSign?'c_liftupfab_paid':'c_liftupfab_paid'"   bottom right>
    <button ion-fab (click)="addbuddy()">
      <ion-icon ios="md-person-add" md="md-person-add"></ion-icon>
    </button>
  </ion-fab>

  <ion-list class="sponseredbusines_ionlist fadeInAnimation_Slow" >
     <ion-item class="list-item sponseredbusines_ionitem">
       <div class="sponseredbusines_bottom">
          <div tappable ><p>Register your business for greater exposure <ion-icon   class="sponseredbusines_iconhelp" name="information-circle"></ion-icon></p></div>
       </div>
     </ion-item>
  </ion-list>

  <!-- we shouldn`t show the bottom red tap for people who are not businesses -->
  <div *ngIf="false && showPaidSign" tappable class="notpaidbar   fadeInAnimation_Slow" (click)="openLink(useremail)">In order for co-branding and other features to work, tap here to finish your business registration</div>

</ion-footer>
