page-broadcast {
  .newmsg {
    border: 1px solid #ccc;
    background-color: #fff;
  }
  .btnbroadcast, .newmsg {
    height:200px;
  }
  .btnbroadcast {
    margin: 0px;
    color:#fff;
  }
  .headingmine {
    margin-left: 8px;
  }
  .maincard_bubble {
    margin: 15px auto 25px auto;
  }
}
