<ion-header >
  <ion-navbar hideBackButton>

    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title *ngIf="doIHaveRegisteredBusinessAlready">Update Business</ion-title>
    <ion-title *ngIf="!doIHaveRegisteredBusinessAlready">Register Business</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>




  <ion-card class="maincard_bubble"  text-center *ngIf="!doIHaveRegisteredBusinessAlready">
    <ion-card-content>
      <ion-card-title>
        Register Your Business
        </ion-card-title>
      <p>
        TapAlly let business owner build strong referral base, automate referrals, generate sales and boost revenue growth through co-branded app.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="maincard_bubble"  text-center *ngIf="doIHaveRegisteredBusinessAlready">
    <ion-card-content>
      <ion-card-title>
        Update Business
        </ion-card-title>
      <p>
        TapAlly let business owner build strong referral base, automate referrals, generate sales and boost revenue growth through co-branded app.
      </p>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="authForm" (submit)="save()">

    <ion-label class="content-title"> Business Name</ion-label>
    <ion-input type="text" (input)="onChange($event.keyCode)" formControlName="businessname" id="businessname" [value]="businessname" [(ngModel)]="businessname"
    maxlength="100" placeholder="Business Name"></ion-input>
    <ion-label *ngIf="(!authForm.controls.businessname.valid||!msgstatus)  && (authForm.controls.businessname.dirty || submitted)">
        <p class="errormsg">Please enter a valid name.</p>
    </ion-label>

    <ion-label class="content-title"> Email</ion-label>
    <ion-input type="email" email (input)="onChange($event.keyCode)" formControlName="useremail" id="useremail" [value]="useremail" [(ngModel)]="useremail"
    maxlength="300" placeholder="Email"></ion-input>
    <ion-label *ngIf="(submittedAndEmailisWrong) || ((!authForm.controls.useremail.valid||!msgstatus)  && (authForm.controls.useremail.dirty || submitted))">
        <p class="errormsg" >Please enter a valid email.</p>
    </ion-label>


    <ion-label class="content-title"> Business Category</ion-label>
    <ion-item id="selectionitem">
    <ion-select placeholder="Please Select" [selectOptions]="selectOptions" [(ngModel)]="bcats" formControlName="bcats" id="bcats" >
    <ion-option [selected]="selectOptions == 0" *ngFor="let item of cats" value="{{item.id}}">{{item.name}}</ion-option>
    </ion-select>
  </ion-item>


  <ion-label class="content-title"> Referral Incentive Type</ion-label>
  <p class="infotext">Motivate your consumers by offering incentives for referrals they send back to you</p>
  <ion-item id="referralincentive">
  <ion-select (ionChange)="onChange_incentivetype($event)" placeholder="Please Select" [selectOptions]="selectOptionsTP" [(ngModel)]="rtlist" formControlName="rtlist" id="rtlist" >
  <ion-option *ngFor="let item of rtlistComplete" [selected]="selectOptionsTP == 0" value="{{item.id}}">{{item.name}}</ion-option>
  </ion-select>
  </ion-item>

  <ion-label *ngIf="showincentivedetail" class="content-title"> {{referral_incentive_detail}}</ion-label>
  <ion-input *ngIf="showincentivedetail" type="text" (input)="onChange($event.keyCode)" formControlName="referral_incentive_detail_txt" id="referral_incentive_detail_txt" [value]="referral_incentive_detail_txt" [(ngModel)]="referral_incentive_detail_txt"
  maxlength="300" placeholder="{{referral_incentive_detail_placeholder}}"></ion-input>
  <ion-label *ngIf="(!authForm.controls.referral_incentive_detail_txt.valid||!msgstatus)  && (authForm.controls.referral_incentive_detail_txt.dirty || submitted)">
      <p class="errormsg">Please enter a valid entry.</p>
  </ion-label>


<!--
  <ion-label class="content-title hide"> Business Address</ion-label>
  <ion-input type="text" (input)="onChange($event.keyCode)" formControlName="businessadd" id="businessadd" [value]="businessadd" [(ngModel)]="businessadd"
  maxlength="30" placeholder="Business Name"></ion-input>
  <ion-label *ngIf="(!authForm.controls.businessadd.valid||!msgstatus)  && (authForm.controls.businessadd.dirty || submitted)">
      <p class="errormsg">Please enter a valid address.</p>
  </ion-label>
-->

  <ion-card text-center class="btngrouptop">
    <button ion-button class="button-secondary" type="submit" [disabled]="!authForm.valid || !this.msgstatus" >Submit</button>
    <ion-item text-center class="btnskipstep" *ngIf="!doIHaveRegisteredBusinessAlready && treatNewInstall" (click)="btnSkipStep()" clear >SKIP STEP</ion-item>
  </ion-card>

  </form>
</ion-content>
