page-displayname {
  #username {
    margin-left:0px !important;
    width: 100% !important;

  }
  .topmargin_phone {
    margin-top : 100px;
  }
  .maincard_bubble {
    margin-bottom: 30px;
  }
  .header-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    .header-title {
      font-size: 20px;
    }
  }
  .content-title {
    font-size: 18px;
  }
  ion-card.card {
    padding-bottom:20px;
  }
  ion-label {
    margin: 0 !important;
    .errormsg {
      margin-top: 0 !important;
      color: #000;
      font-size: 15px;
    }
  }
}
