<ion-header >
  <ion-navbar hideBackButton>

    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>Referal Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card  *ngIf="pageDoneLoading" class="maincard_bubble" text-center padding>
    <ion-card-content >
      <ion-card-title>
        You Sent Referral To {{item.displayName}}
        </ion-card-title>
      <p>
         You sent referral of <ion-badge color="secondary" item-end>{{item.referral_displayName}}</ion-badge> to <ion-badge item-end>{{item.displayName}}</ion-badge> on {{item.dateofmsg}} at {{item.timeofmsg}} ET. <span *ngIf="item.business_referral_type_id<=0">However <ion-badge item-end>{{item.displayName}}</ion-badge> has not specified any incentives for referrals</span> <span *ngIf="item.business_referral_type_id>0">{{item.displayName}} has specified an incentive of <ion-badge item-end>{{item.business_referral_type_name}} : {{item.business_referral_detail}}</ion-badge></span> <span *ngIf="item.business_referral_type_id>0 && item.redeemStatus<=0">However you have not redeemed incentive yet. </span> <span *ngIf="item.business_referral_type_id>0 && item.redeemStatus==1">You have send request to {{item.displayName}} to redeem your referral incentive</span> <span *ngIf="item.redeemStatus>1">You have sucessfully redeemed your incentive from {{item.displayName}}. In case of any question reach out to {{item.displayName}}</span>
      </p>

    </ion-card-content>
 </ion-card>


       <button block  *ngIf="item.business_referral_type_id<=0 && item.redeemStatus<2" style="margin-top:15px;" ion-button (click)="fnAskBuddyToAddSomeIncentives()" color="primary"  >Ask For Incentives</button>

       <button block  *ngIf="item.business_referral_type_id>0 && item.redeemStatus<=0" style="margin-top:15px;" ion-button (click)="fnSendRedeemIncentiveRequest()" color="primary"  >Send Redeem Request</button>

       <button block  *ngIf="item.business_referral_type_id>0 && item.redeemStatus==1" style="margin-top:15px;" ion-button (click)="fnSendRedeemIncentiveRequest()" color="primary"  >Send Redeem Request Again</button>

       <button block  *ngIf="item.business_referral_type_id>0 && item.redeemStatus>1" style="margin-top:15px;" ion-button (click)="fnOpenChatPage()" color="secondary"  >Chat With {{item.displayName}}</button>


</ion-content>
