
<ion-header >

  <ion-navbar color="dark">
    <div class="header-wrap">
      <div class="flex-start">
          <ion-buttons left>
              <button ion-button icon-only (click)="dismiss()"><ion-icon ios="md-close" md="md-close" ></ion-icon></button>
          </ion-buttons>
      </div>
      <div class="flex-end">
          <ion-buttons right>
              <button  ion-button icon-only [disabled]=" !this.msgstatus" (click)="save()" ><ion-icon ios="md-checkmark" md="md-checkmark" ></ion-icon></button>
          </ion-buttons>
      </div>
    </div>


  </ion-navbar>

</ion-header>


<ion-content>
<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-input type="text" (input)="onChange($event.keyCode)"id="username"  [(ngModel)]="username" maxlength="30" placeholder="Display Name"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

</ion-content>
