<ion-header >
  <ion-navbar hideBackButton>

    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title *ngIf="redeemStatus ==2">Incentive Redeemed</ion-title>
    <ion-title *ngIf="redeemStatus !=2">Redeem Incentive</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card  *ngIf="pageDoneLoading && !businessRegistered" class="maincard_bubble" text-center padding>
    <ion-card-content >
      <ion-card-title *ngIf="redeemStatus !=2">
        Register Your Business
        </ion-card-title>
      <p>
         In order to use this feature, you need to register your business. Businesses enjoy co-branding and other benefits. 
      </p>
    </ion-card-content>
 </ion-card>

  <ion-card  *ngIf="pageDoneLoading && businessRegistered" class="maincard_bubble" text-center padding>
    <ion-card-content >
      <ion-card-title *ngIf="redeemStatus !=2">
        Redeem Incentives To {{oneWhoSendReferral.displayName}}
        </ion-card-title>
      <ion-card-title *ngIf="redeemStatus ==2">
        You Redeemed Incentives To {{oneWhoSendReferral.displayName}}
        </ion-card-title>
      <p>
         Your contact {{oneWhoSendReferral.displayName}} send you a referral for {{referralDetail[0].referral.displayName}}. At that point in time, you have updated in your business settings that incentives for referral would be <ion-badge>{{referralDetail[0].business_referral_type_name}}</ion-badge> : <ion-badge>{{referralDetail[0].business_referral_detail}}</ion-badge>
      </p>
    </ion-card-content>
 </ion-card>


  <button  *ngIf="businessRegistered && pageDoneLoading && redeemStatus!=2" block  style="margin-top:15px;" ion-button (click)="fnMarkIncentiveRedeemed()" color="secondary"  >Mark Incentive Redeeemed</button>

  <button  *ngIf="businessRegistered && pageDoneLoading && redeemStatus==2" block  style="margin-top:15px;" ion-button (click)="backButtonClick()" color="primary"  >Go Back</button>

  <button  *ngIf="!businessRegistered && pageDoneLoading" block  style="margin-top:15px;" ion-button (click)="fnSendToBusinessPage()" color="dark"  >Let`s Get Started</button>

</ion-content>
