page-add-contact {
  .header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .close-left {
      order:1;
    }
    .header-title {
      order:2;
      font-size: 20px;
    }
    .right-arrow {
      order:3;
    }
  }
  input.text-input {
    border: none;
    background-color: transparent;
  }
  .select-md {
    padding: 41px 8px 13px 16px;
  }
  ion-select{
    max-width:100%
  }
  ion-card.card {
    ion-card-content.card-content {
      ion-list {
        .txt-input {
          height: 40px;
          width: 100%;
          margin-bottom: 16px;
          margin-right: 0;
          margin-left: 0;
          padding: 0;
          border: 1px solid $grey-primary;
          background-color: $white;
          color: #666;
          @include border-radius(6px);
          .item {
            min-height: 0;
            height: 30px;
            line-height: 30px;
          }
          .select {
            padding-top: 8px;
          }
          .select-icon {
            .select-icon-inner {
              margin-top: 5px;
            }
          }
          .col-8 {
            padding-left: 0;
          }
        }
      }
    }
  }
  .item-md.item-input.item-input-has-focus .item-inner,
  .item-md.item-input.input-has-focus .item-inner,
  .list-md .item-input.item-input-has-focus:last-child,
  .list-md .item-input.input-has-focus:last-child,
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
        -ms-box-shadow: none !important;
            box-shadow: none !important;
    border-bottom: none !important;
  }
}
