page-allimg {
    .header {
        .toolbar {
            .toolbar-background {
            background: transparent !important;
            }
        }
    }

    .main{
            position: relative; width: 100%;
            background-color:#000;
    }
    .content-data {
        background-color: #1f1b1b;
    }
    ion-card {
        &.card {
            margin: 0 !important;
            width: 100% !important;
            border-bottom: 5px solid #FFF;
            &:last-child {
                border-bottom: none !important;
            }
            img {
                margin: 10px;
                width: calc(100% - 20px);
            }
        }
    }
}
