<ion-content padding> 

    <ion-card *ngIf="initialLook" >
    
    </ion-card>
    
    <ion-card *ngIf="!initialLook && !importfinished" >
      <ion-card-content>
        <ion-card-title>
          Processing
        </ion-card-title>
       </ion-card-content>
    </ion-card>
    
    <ion-card *ngIf="importfinished" >
      <ion-card-content>
        <ion-card-title>
          Expand your network exponitially
        </ion-card-title>
    
        <button  ion-button  (click)="inviteAll()">
          <ion-icon ios="md-person-add" md="md-person-add"> </ion-icon> Invite All
        </button>
        <button ion-button  (click)="inviteManuall()" clear>Invite Manually</button>
    
      </ion-card-content>
    </ion-card> 

</ion-content>

