<ion-header  >
  <ion-navbar hideBackButton>
    <div class="header-wrap">
      <ion-buttons left>
          <button ion-button (click)="backButtonClick()">
               <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
          </button>
      </ion-buttons>
      <div class="header-title">New group<p class="below-header">Add participants</p>
      </div>
    </div>
  </ion-navbar>
  <ion-searchbar placeholder="Search" class="searchbar" (ionInput)="searchuser($event)">
  </ion-searchbar>
  <ng-container *ngIf="selectedMember.length > 0">
    <ion-list class="group-wrap">
      <ion-item *ngFor="let item of selectedMember">
          <ion-avatar class="buddy-pic" item-left>
            <img *ngIf="item.isBlock == true" src="assets/imgs/user.png">
            <img *ngIf="item.isBlock == false" src="{{item.photoURL}}">
          </ion-avatar>
        <p>{{item.displayName}}</p>
      </ion-item>
    </ion-list>
  </ng-container>

</ion-header>


<ion-content padding [ngClass]="selectedMember.length != 0 ?'group-wrap-active':'group-wrap-no-active'">

  <ion-list>
    <ng-container *ngFor="let key of myfriends">
      <ion-item (click)="addbuddy(key)">
        <ion-avatar item-left>
          <img *ngIf="key.isBlock == false" src="{{key.photoURL}}">
          <img *ngIf="key.isBlock == true" src="{{'assets/imgs/user.png'}}">
        </ion-avatar>
        <h2>{{key.displayName}}</h2>
      </ion-item>
    </ng-container>
  </ion-list>
  <div *ngIf="myfriends?.length == 0" align="center">
    No result found!
  </div>

  <ion-fab bottom right>
    <button ion-fab [disabled]="selectedMember.length == 0" (click)="goNext()">
      <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
