<ion-header  >
  <!-- hideBackButton="{{backbuttonstatus}}" -->


    <ion-navbar color="hcolor" hideBackButton >
      <ion-buttons left>
          <button ion-button (click)="backButtonClick()">
               <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
          </button>
      </ion-buttons>

      <div>
        <div class="header-wrap" *ngIf="headerSelectionIcon">
            <div class="flex-start">
                <div class="title-wrap" (click)="openGroupDetail()">
                    <ion-avatar class="user-img" left>
                        <img src="{{groupImage}}">
                    </ion-avatar>
                    <div class="title-uname">
                        <h3>{{groupName}}</h3>
                    </div>
                </div>
            </div>
            <div class="flex-end">
                <ion-buttons end>
                    <button ion-button icon-only (click)="viewPopover($event)">
                        <ion-icon ios="md-more" md="md-more"></ion-icon>
                    </button>
                </ion-buttons>
            </div>
        </div>

        <div class="select-wrap" *ngIf="!headerSelectionIcon">
            <div class="flex-start">
                <ion-buttons start class="left-arrow">
                    <button start ion-button icon-only (click)="closeButtonClick()">
                    <ion-icon ios="md-close" md="md-close"></ion-icon>
                    </button>
                </ion-buttons>
                <div class="select-title" text-left left *ngIf="selectCounter > 0">
                {{selectCounter}}
                </div>
            </div>
            <div class="flex-end">
                <ion-buttons end>
                    <button ion-button icon-only (click)="deleteMessage()">
                        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                    </button>
                    <!-- <button ion-button icon-only (click)="starredMessage()">
                        <ion-icon ios="ios-star" md="md-star"></ion-icon>
                    </button> -->
                </ion-buttons>
            </div>
        </div>
      </div>
    </ion-navbar>
</ion-header>
<ion-content #content>
    <div class="chatwindow">
        <ion-list no-lines *ngIf="allgroupMessage.length > 0">
                <ion-item text-wrap *ngFor="let item of allgroupMessage; let i = index;let last = last;">
                    {{last ? callFunctionScroll() : ''}}
                    <div class="msg-wrap me" [ngClass]="{ 'select-item': item.selection }" *ngIf="item.sentby == alignuid" (press)="pushMsg(item,$event)" (click)="pushanotherMsg(item,$event)">
                        <ion-avatar>
                            <img src="{{item.photoURL}}">
                        </ion-avatar>
                        <div [ngClass]="item.type == 'image' || item.type == 'location' || item.type == 'document'?'bubble-img':'bubble'">
                            <div class="displayname">{{item.displayName}}</div>
                            <div class="msg" *ngIf="!imgornot[i] && item.type == 'message'">{{item.message}}</div>
                            <img class="msg" *ngIf="item.type == 'document'" src="assets/imgs/docs.png" (click)="openDoc(item.message)" />

                            <audio controls class="msg" *ngIf="item.type == 'audio'">
                                <source src="{{item.message}}" type="audio/mpeg">
                            </audio>

                            <ng-container class="msg" *ngIf="item.multiMessage && item.type == 'image'">
                                <div (click)="openAllImg(item.message)">
                                    <img class="msg-partision" *ngFor="let pic of item.message | slice:0:4; let ii = index "
                                        src="{{pic}}" />
                                    <span class="img-number overlay">+
                                        {{item.message.length - 4}}</span>
                                </div>
                            </ng-container>
                            <ng-container class="msg" *ngIf="item.multiMessage && item.type == 'contact'">
                                <div>
                                <img class="msg contact" src="assets/imgs/user.png" />
                                <div *ngIf="item.message.length == 1"(click)="openContacts(item.message)" class="view-msg">View {{ item.message.length }} Contact</div>
                                <div *ngIf="item.message.length > 1" (click)="openContacts(item.message)" class="view-msg">View {{ item.message.length }} Contacts</div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="!item.multiMessage && item.type == 'image'">
                                <img class="msg" *ngIf="item.type == 'image'" #mychatImage src="{{item.message}}"
                                    (click)="presentImage(mychatImage)" />
                            </ng-container>

                            <ng-container class="msg" *ngIf="item.multiMessage && item.type == 'location'">
                                <img class="msg" (click)="showLocation(item.message)" src="assets/imgs/location.png" />
                            </ng-container>
                            <div class="read-recipients">
                                <ion-icon *ngIf="item.isStarred" name="star" class="icon"></ion-icon>
                                <p class="icon">{{item.timeofmsg}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="msg-wrap you" [ngClass]="{ 'select-item': item.selection }" *ngIf="item.sentby != alignuid" (press)="pushMsg(item,$event)" (click)="pushanotherMsg(item,$event)">
                        <ion-avatar>
                            <img *ngIf="item.blockby == false" src="{{item.photoURL || userpic}}">
                            <img *ngIf="item.blockby == true" src="{{'assets/imgs/user.png' || userpic}}">
                        </ion-avatar>
                        <div [ngClass]="item.type == 'image' || item.type == 'location' || item.type == 'document' ?'bubble-img':'bubble'">
                            <div class="displayname">{{item.displayName}}</div>

                            <div class="msg" *ngIf="!imgornot[i] &&  item.type == 'message'">{{item.message}}</div>

                            <img class="msg" *ngIf="item.type == 'document'" src="assets/imgs/docs.png" (click)="openDoc(item.message)" />
                            <audio controls class="msg" *ngIf="item.type == 'audio'">
                                <source src="{{item.message}}" type="audio/mpeg">
                            </audio>
                            <ng-container class="msg" *ngIf="item.multiMessage && item.type == 'image'">
                                <div (click)="openAllImg(item.message)">
                                    <img class="msg-partision" *ngFor="let pic of item.message | slice:0:4; let ii = index "
                                        src="{{pic}}" />
                                    <span class="img-number overlay">+ {{item.message.length - 4}}</span>
                                </div>
                            </ng-container>
                            <ng-container class="msg" *ngIf="item.multiMessage && item.type == 'contact'" click)="openContacts(item.message)">
                                <div>
                                <img class="msg contact" src="assets/imgs/user.png" />
                                <div *ngIf="item.message.length == 1"(click)="openContacts(item.message)" class="view-msg">View {{ item.message.length }} Contact</div>
                                <div *ngIf="item.message.length > 1" (click)="openContacts(item.message)" class="view-msg">View {{ item.message.length }} Contacts</div>
                                </div>
                                </ng-container>
                            <ng-container *ngIf="!item.multiMessage && item.type == 'image'">
                                <img class="msg" *ngIf="item.type == 'image'" #mychatImage src="{{item.message}}"
                                    (click)="presentImage(mychatImage)" />
                            </ng-container>
                            <ng-container class="msg" *ngIf="item.multiMessage && item.type == 'location'">
                                <img class="msg" (click)="showLocation(item.message)" src="assets/imgs/location.png" />
                            </ng-container>
                            <div class="read-recipients">
                                <ion-icon *ngIf="item.isStarred" name="star" class="icon"></ion-icon>
                                <p class="icon">{{item.timeofmsg}}</p>
                            </div>
                        </div>
                    </div>

                </ion-item>
        </ion-list>
    </div>

</ion-content>

<ion-footer ion-fixed>
    <ion-toolbar class="no-border" color="white">
        <ion-input tappable [(ngModel)]="newmessage" placeholder="Write your message ..." class="newmsg" (click)="scrollto()" (input)="onChange($event.keyCode)"></ion-input>
        <ion-buttons end>
            <a ion-button (click)="openAttachment($event)">
                <ion-icon class="ion-image" ios="md-attach" md="md-attach"></ion-icon>
            </a>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button round type="submit" class="sentbtn" [disabled]="!this.msgstatus" (click)="addmessage_async()">
                <ion-icon ios="md-send" md="md-send" color="wcolor" style="font-size: 2.2em;"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
