page-group-chat-popover {
    .select-item{
        position: relative;
        &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
        background-color: rgba(53, 159, 192, .3);
        content: '';
        }
    }
}