

<ion-header  >
  <ion-navbar hideBackButton>

    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>Outreach</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


    <div class="pull-center givepadding">
        <h3>Outreach your clients</h3>
        <p>Whitelabel & Send branded push notifications with high level of delivery & better engagement than emails, text </p>

        <button ion-button (click)="senToInvite()" color="primary" block>Invite Your Contacts</button>
    </div>




</ion-content>
